body {
    background-color: wheat;
    background-image: url("https://www.freepik.com/premium-vector/mobile-smartphone-gold-podium-with-icons-surrounding-cloud-credit-card-carts-with-spotlights-shining-background-concept-online-trading-internet-shop-platform_23809371.htm");
}

* {
    color: white;
}
