<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url('smartphones-shopping-bags.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;

        }

        img.background{
            filter: blur(50px);
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="dashboard.css">
    <meta charset="UTF-8">
</head>
<body>
  <h1>Bine ai venit la magazinul meu de telefoane!</h1>

  <p th:text="${items}" style="opacity:10px;"></p>
  <a href="/cart">Cosul dumneavoastra</a>

  <a class="btn btn-outline-primary" href="/history">Order History</a>
  <a class="btn btn-outline-primary" href="/logout">Log out</a>

  <p>PRODUSELE NOASTRE</p>
  <table>
      <tr>
          <th>Id</th>
          <th>Nume</th>
          <th>Brand</th>
          <th>Pret</th>
          <th>Cantitate</th>
          <th>Categorie</th>
          <th>Picture</th>
      </tr>
      <tr th:each="p:${productList}">
          <td th:text="${p.id}" style="color:white;"></td>
          <td th:text="${p.name}" style="color:white;"></td>
          <td th:text="${p.brand}" style="color:white;"></td>
          <td th:text="${p.price}" style="color:white;"></td>
          <td th:text="${p.quantity}" style="color:white;"></td>
          <td th:text="${p.category}" style="color:white;"></td>
          <td>
              <img th:src="@{${p.imgSrc}}" class="rotate">
          </td>
          <td>
              <form action="/add-to-cart">
                  <input name="productId" hidden th:value="${p.id}">
                  <button type="submit" class="btn btn-lg btn-block btn-primary">Adauga in cos</button>
              </form>
          </td>
          <td>
              <form action="/detailsProduct">
                  <input name="productId" hidden th:value="${p.id}">
                  <button type="submit" class="btn btn-lg btn-block btn-primary">Detalii despre produs</button>
              </form>
          </td>
      </tr>
  </table>

</body>
</html>